@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  
}
.container {
  background-image: url("./assets/register-bg-fce3e42828b656fb2b08f69c8e77d62e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
}
* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

